.song-list {
  width: 100%;
  /* Full width */
}

.song-card {
  display: grid;
  grid-template-columns: 100px 3fr 3fr 3fr 3fr 1fr;
  /* Adjusted to fit your layout */
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.song-card:nth-child(even) {
  background-color: #f8f8f8;
}

.song-image img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.song-details {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.song-details h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.song-details h2 .song-tag {
  background-color: #FFD700;
  color: black;
  border-radius: 3px;
  padding: 2px 5px;
  margin-left: 10px;
}

.song-details p {
  margin: 2px 0;
  font-size: 0.9rem;
}

.song-details .artist {
  font-size: 1rem;
}

.song-details .album {
  font-size: 0.85rem;
  color: #666;
}

.song-details .song-length {
  display: flex;
  gap: 10px;
  font-size: 0.9rem;
}

.song-details .song-length p {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}

.song-details .song-length p svg {
  margin-right: 3px;
  color: #A1A5B7;
}

.song-genre {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  margin-right: 2rem;
  text-align: right;
}

.song-genre p {
  margin: 2px 0;
  font-size: 0.9rem;
}

.song-genre .genre {
  font-size: 1rem;
  font-weight: 600;
}

.song-genre .decade {
  font-size: 0.85rem;
  color: #666;
}

.song-difficulty {
  display: flex;
  flex-direction: column;
}

.instrument {
  display: flex;
  align-items: center;
  height: 25px;
}

.instrument img {
  width: 25px;
  height: 25px;
  margin-right: 3px;
}

.song-uploader .uploader {
  display: flex;
}

.song-uploader .uploader img {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  margin-left: 2.5rem;
  margin-right: .75rem ;
}

.song-uploader .uploader .column {
  display: flex;
  flex-direction: column;
}

.song-uploader .uploader .column p {
  margin: 0;
}

.uploader-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.songs-released {
  font-size: 0.85rem;
  color: #00b2ff;
  background-color: #f1faff;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  margin-left: 1rem;
  /* margin-bottom: .5rem; */
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  vertical-align: baseline;
  border-radius: 0.425rem;
  padding: 0.325rem 0.35rem;
}

.upload-date {
  align-items: center;
  color: #7e8299;
  background-color: #f9f9f9;
  display: inline-flex;
  font-size: .9rem;
  align-items: center;
  margin-left: 2.2rem;
  margin-top: 0.5rem;
  /* margin-bottom: .5rem; */
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  vertical-align: baseline;
  border-radius: 0.425rem;
  padding: 0.325rem 0.5rem;
}

.upload-date img {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.upload-date svg {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 5px;
}

.song-download {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.song-download .download-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  border: 1px dashed #ccc;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #000;
  width: 180px;
  font-weight: 600;
  /* Adjust width to match desired size */
}

.song-download .download-btn img {
  width: 36px;
  /* Adjust size for the logo */
  height: auto;
  margin-right: 10px;
}

.song-download .download-stats {
  display: flex;
  font-size: 0.9rem;
}

.song-download .download-stats p {
  color: #00b2ff;
  background-color: #f1faff;
  font-size: 1rem;
  font-weight: 500;
  display: inline-flex;
  font-size: 1rem;
  align-items: center;
  margin-left: 1rem;
  /* margin-bottom: .5rem; */
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  vertical-align: baseline;
  border-radius: 0.425rem;
  padding: 0.325rem 0.5rem;
}

.song-download .download-stats p svg {
  margin-right: 5px;
  width: 1rem;
  height: 1rem;
}

.difficulty-circles {
  display: flex;
}

.difficulty-circles span {
  font-size: 32px;
  color: #ccc;
  margin-bottom: 5px;
}

.difficulty-circles .filled {
  color: #181C32;
}

.difficulty-circles .filled-red {
  color: #f1416c;
}


.no-difficulty {
  font-size: 1rem;
  color: #888;
  /* Adjust the color as necessary */
  text-align: center;
  font-style: italic;
}

.filled {
  color: #000;
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.loading {
  width: 180px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  text-align: right;
}

.loading .spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Adjust this as needed */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin-bottom: 10px;
  /* Space between the text and the spinner */
  font-size: 1.8em;
  /* Adjust font size as needed */
}